{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController! You're the best Controller I've ever met!{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}    {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

    <a href="{{ path('app_create_form') }}">GO TO /create</a>

{#    <div class="bg-danger">test</div>#}



{% endblock %}
